.content_main{
    
    width: 95%;
    margin: auto auto;

    form{

        .form-control{
            margin-bottom: 8px;
        }

        .form_two{
            display: flex;
            justify-content: space-between;

            
        }

        .form_two > *{
            width: 37%;
        }
        
        .submit-btn{
            width: 100%;
        }
    } 
    
}


@media (min-width : 600px) {
    .content_main{
        max-width: 550px;
    }

    .listing{
        max-width: 550px;
        img{
            width: 100%;
        }
    }

    .card_form{
        width:100%;
    
        form{
    
            margin: auto 5px;

            a{
                
            }
        }
    }
    
}