{% extends 'auctions/layout.html' %}

{% block title %}
  List your Item
{% endblock %}

{% block body %}
  <div class="content_main">
    <h2>What item do you wish to List</h2>
    <form action=" {% url 'auctions:create' %} " method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.title }}
      {{ form.description }}

      <div class="form_two">
        {{ form.bid }}
        {{ form.image }}
      </div>
      

      <div class="submit">
        <input class="submit-btn btn btn-primary" type="submit" value="Submit" />
      </div>
      
      {% if message %}
        {{ message }}
      {% endif %}
    </form>
  </div>
{% endblock %}
