{% extends 'auctions/layout.html' %}

{% block body %}
  <h2>Active Listings</h2>

  {{ content|safe }}


    {% for list in listing %}
      <div class="card my-3" style="width: 20rem; ">
        <img src="{{ list.image.url }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ list.title }}</h5>
          <p class="card-text">{{ list.description }}.</p>
          <p class="card-text">Listed By: {{ list.user }}</p>
          <p class="card-text">Price: ${{ list.bid }}</p>
          <div class="card_form">
            <form action="{% url "auctions:watchlist" %}" method="post" >
              {% csrf_token %}
              <input type="hidden" name="list_data" value="{{ list.pk }}">
              <input type="hidden" name="user_data" value = {{ request.user.pk }}>
              <button class="btn btn-secondary my-1 w-100">Add to Wishlist</button>
            </form>
            <form action="">
              {% csrf_token %}
              <input type="hidden" name="list_data" value="{{ list.pk }}">
              <button href="#" class="btn btn-success my-1 w-100">Bid</button>
            </form>
          </div>
          
        </div>
      </div>
    {% endfor %}
{% endblock %}
